<%- include('includes/head.ejs') %>
<style>
    h3{margin:20px;}
</style>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h3> sorry Some Error has occured we are working on it </h3>
    <p> </p>

<%- include('includes/end.ejs') %>