.orders_main{
    display: flex;
    flex-flow: column ;
    align-items: center;
    justify-content:center ;
    gap:20px;
}
.orders{
    display: flex;
    flex-flow: row wrap;
    justify-content:center ;
    gap:20px;
    
}
.order{
    background: white;
    width:300px;
    height: auto;
    box-shadow:  0px 10px 20px  rgba(0, 0, 0, 0.166) ; 
    border-radius: 5px;
}
.order_header{
    background-color:#00695c;
    color:white;
    display: flex;
    justify-content: space-between;
    padding:  10px;
}
.order_header h4{
    margin:0px;
    text-transform: capitalize;
}
.order_products{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 300px;
}
.order_products_header {
    display: flex;
    justify-content: space-between;
    padding:0px 10px;
    gap:5px;
    text-align: center;
    
 background-color:#00695c;
    color:white;

}
.order_products_header h4{
text-align: left;
padding-left: 10px;
}
.order_products_header .header_title{
    flex-basis: 60%;
}
.order_products_header .header_price{
    flex-basis: 20%;
}
.order_products_header .header_quantity{
    flex-basis: 20%;
}
.order_products_header h4{
    margin:0px;
    margin-top: 10px;
    text-transform: capitalize;

}

.order_product{
    height: 60%;
    overflow-y:auto;
}
.order_products_detail{
    margin-bottom: 1px;
    display: flex;
    gap:5px;
    margin: 0px;box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.127);
}
.order_products_detail p{
text-align: left;
padding-left: 10px;
}
.order_products_detail .header_title{
    flex-basis: 50%;
}
.order_products_detail .header_price{
    flex-basis: 30%;
}
.order_products_detail .header_quantity{
    flex-basis: 20%;   
}
.order_products_footer{
    justify-self: flex-end;
    margin-bottom: 0px;
    margin-top: auto;
    border:solid thin red;
    height: 30%;
}

.order_total_price{
    margin: 10px auto;
    text-align: center;
}
.orderAccept_btn{
    display: block;
    margin: 10px auto 30px;
    width: fit-content;
    text-decoration: none;
    padding: 8px 16px;
    border: solid  #00695c;
    text-transform: capitalize;
}
.orderAccept_btn:hover{
    background-color: #00695c;
    color:white;;
}