.product-form {
	width: 20rem;
	max-width: 90%;
	margin: auto;
	margin-top: 50px;
	display: block;
	position: relative;
}
.error-massage {
	color: rgb(186, 30, 30);
	position: absolute;
	top: -20px;
	left: 50%;
	transform: translate(-50%, 0);
}

.product-item {
	width: 20rem;
	max-width: 95%;
	margin: 1rem;
}

.product__title {
	font-size: 1.2rem;
	text-align: center;
}

.product__price {
	text-align: center;
	color: #4d4d4d;
	margin-bottom: 0.5rem;
}

.product__description {
	text-align: center;
}
.back-to-prouduct {
	position: absolute;
	left: 10%;
	text-decoration: none;
}
.back-to-prouduct:hover {
	color: rgb(131, 142, 31);
}
